* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 116.5%;
  hyphens: auto;
  line-height: 1.5;
}

body {
  background-color: saddlebrown;
  color: saddlebrown;
  font-family: "Junction";
}

#header {
  background-color: saddlebrown;
  padding: 1vh;
  padding-bottom: 1vh;
}

#logo {
  vertical-align: middle;
  width: 60vw;
}

#login {
  background: none;
  border: none;
  color: #ffe;
  float: right;
  font-family: "Ostrich Sans";
  font-size: 6vh;
  font-weight: lighter;
  letter-spacing: 1rem;
  vertical-align: middle;

}

#login:focus{
  outline: 0;
}

#feed{
  background-color: #ffe;
  border: 2vw solid saddlebrown;
  padding-top: 1rem;
  margin-top: 1vh;
}

.feed-entry p {
  font-size: 1rem;
  text-align: justify;
  padding: 1rem 3rem;
}

.feed-entry p span {
  float: left;
  font-family: "ostrich sans";
  font-size: 4rem;
  letter-spacing: 2rem;
  padding-right: 2rem;
}

.feed-pic{
  width: 100vw;
  letter-spacing: 0.1rem;
  margin-left: -1.9vw;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ostrich Sans';
}

h1 {
  font-size: 7rem;
  margin-left: 0.2rem;
  text-align: center;
}

h4 {
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
  margin-right: -1.5rem;
}
