* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 116.5%;
  hyphens: auto;
  line-height: 1.5;
}

body {
  background-color: #631;
  color: #631;
  font-family: "Junction";
}

#header {
  background-color: #631;
  padding: 1vh;
  padding-bottom: 1vh;
  position: fixed;
  width: 100%;
}

#logo {
  margin-top: 1rem;
  vertical-align: middle;
  width: 60vw;
}

#login {
  background: none;
  border: none;
  color: #ddc;
  float: right;
  font-family: "Ostrich Sans";
  font-size: 6vh;
  font-weight: lighter;
  letter-spacing: 1rem;
  vertical-align: middle;

}

#login:focus{
  outline: 0;
}

#feed, #upload{
  background-color: #eec;
  border: 2vw solid #653311;
  padding-top: 10vh;
  padding-bottom: 2vw;
}

.feed-entry > p {
  font-size: 1rem;
  min-height: 5rem;
  padding: 1rem 3rem;
  text-align: justify;
}

.feed-entry > p > span {
  float: left;
  font-family: "ostrich sans";
  font-size: 4rem;
  letter-spacing: 2rem;
  padding-right: 2rem;
}

.feed-pic{
  width: 101vw;
  margin-left: -2vw;
  border-top: 0.5vw solid #653311;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ostrich Sans';
}

h1 {
  font-size: 7rem;
  margin-left: 0.2rem;
  text-align: center;
}

h4 {
  font-weight: normal;
  font-size: 5vw;
  letter-spacing: 2.5vw;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
  margin-right: -1.5rem;
}

@media (orientation: landscape){
  #feed {
    padding-top: 20vh;
  }
}
